altair==5.5.0
blinker==1.9.0
click==8.1.8
joblib==1.4.2
markdown-it-py==3.0.0
matplotlib==3.10.0
numpy==2.2.2
pandas==2.2.3
pillow==11.1.0
python-dateutil==2.9.0.post0
pytz==2024.2
regex==2024.11.6
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
streamlit==1.41.1
tenacity==9.0.0
tqdm==4.67.1
wordcloud==1.9.4